{{/* Procedural cosmic-microwave-background sky map: noise posterised into red
     hot spots and violet cold spots inside a
     Mollweide-style oval. Pass a unique "id" when used more than once per page. */}}
{{ $id := .id | default "cmb" }}
<svg class="cmb" viewBox="0 0 1000 500" aria-hidden="true" focusable="false">
  <defs>
    <filter id="{{ $id }}-noise" x="0" y="0" width="100%" height="100%" color-interpolation-filters="sRGB">
      <feTurbulence type="fractalNoise" baseFrequency="0.022" numOctaves="5" seed="35817" result="t"/>
      <feColorMatrix in="t" type="matrix" values="0 0 0 0 1  0 0 0 0 0.231  0 0 0 0 0.188  3.4 0 0 0 -1.5" result="hot"/>
      <feComponentTransfer in="hot" result="hot2">
        <feFuncA type="discrete" tableValues="0 0.06 0.13 0.22 0.34 0.5"/>
      </feComponentTransfer>
      <feColorMatrix in="t" type="matrix" values="0 0 0 0 0.482  0 0 0 0 0.298  0 0 0 0 1  -3.4 0 0 0 1.44" result="cold"/>
      <feComponentTransfer in="cold" result="cold2">
        <feFuncA type="discrete" tableValues="0 0.07 0.15 0.26 0.4 0.58"/>
      </feComponentTransfer>
      <feMerge><feMergeNode in="cold2"/><feMergeNode in="hot2"/></feMerge>
    </filter>
    <clipPath id="{{ $id }}-oval"><ellipse cx="500" cy="250" rx="498" ry="248"/></clipPath>
  </defs>
  <g clip-path="url(#{{ $id }}-oval)">
    <rect width="1000" height="500" filter="url(#{{ $id }}-noise)"/>
  </g>
  <line class="cmb__axis" x1="2" y1="250" x2="998" y2="250"/>
  <line class="cmb__axis" x1="500" y1="2" x2="500" y2="498"/>
  <ellipse class="cmb__ring" cx="500" cy="250" rx="498" ry="248"/>
</svg>
